@{
    ViewData["Title"] = "Home Page";
}
<head>
    <title>WORLD FILM</title>
    <link rel="stylesheet" href="../css/mystyle.css">
</head>

<body>
 <div class="wrapper">
        <form action="">
            <h1>Iniciar</h1>
            <div class="input-box">
                 <input type="text" placeholder="usuario" requerido>
                    <i class='bx bxs-user-circle'></i>
            </div>
            <div class="input-box">
                 <input type= "contraseña" placeholder= "contraseña"  requerido>
                <i class='bx bxs-lock-alt'></i>
            </div>
            <div class="recordar contraseña" requerido>
                <label><input type="checkbox"> recordarme </label>
                <a href="#">olvido contraseña?</a>
            </div>
            <button type="submit" class="btn" >iniciar sesion </button>
            <div class="enlace de registro">
                <p>¿no tienes una cuenta? <a href="#">registrarse</a>
            </div>
        </form>
    </div>
</body>
